<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Ruroc\GDPR\Api\SetRightToForgetInterface"
                type="Ruroc\GDPR\Model\SetRightToForget" />
    <preference for="Ruroc\GDPR\Api\Data\SetRightToForgetMessageInterface"
                type="Ruroc\GDPR\Model\SetRightToForgetMessage" />
</config>
